* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8rem;
  color: #666;
  height: 100%;
}

.container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

.container1 {
  height: 100vh;
  background-image: url(./img/mevsim1.png);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: white;
  background-color: black;
  padding: 2rem;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  outline: 0.5rem inset purple;
  outline-offset: 1rem;
  line-height: 5rem;
}
.heading1_left {
  margin-left: 50px;
}

.heading1_right {
  margin-right: 50px;
}

/************** PAGE 2 ***************/

.section {
  height: 30vh;

  line-height: 29px;
  font-size: 20px;
  text-align: center;
  padding: 1.5rem 5rem;
}

.section1 {
  background-color: rgb(241, 241, 241);
  color: #666;
}

.container2 {
  height: 70vh;
  /* width: 100vw; */
  background: url(./img/kış.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading-2 {
  background-color: black;
  padding: 0.7rem;
  border-top-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  outline: 0.4rem inset purple;
  outline-offset: 0.2rem;
  font-size: 30px;
}

.h2-left {
  margin-left: 45px;
}
.h2-right {
  margin-right: 35px;
}

/************** PAGE 3 ***************/

.section2 {
  background-color: #282e34;
  color: #ddd;
}

.container3 {
  height: 70vh;
  background: url(./img/bahar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
